<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="/pdf_upload">
        <div class="formbg-outer">
            <div class="formbg">
              <div class="formbg-inner padding-horizontal--48">
            <dl>
                <div class="field padding-bformbgottom--24">

                <label for="file" style="font-weight: 500; margin-bottom: 30px; margin-top: 10px;">Sélectionnez le
                    fichier à traiter </label>
                <input class="file_upload" type="file" name="file" autocomplete="off" required>

                <p style='text-align: center;'>
                    <button type="submit" class="button-85" role="button">Envoyer
                    </button>
                </p>
            </div>
            </dl>
        </div>
    </div>
</div>        
</form>
    
</body>
</html>